:root {
  --logo-width-header: 70px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  margin-bottom: 12px;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.logo-header {
  width: var(--logo-width-header);
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 80%;
}

.login-container label {
  margin-right: 10px;
  max-width: 30%;
}

.login-container input {
  max-width: 100%;
}

.login-container button {
  width: 50px;
  height: 60%;
}