.navigation-top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 22px;
}

.nav-option {
  width: 25%;
  height: 60px;
  background-color: #cad0d0;
  box-sizing: border-box;
  border: none;
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
}

.nav-option:hover {
  filter: brightness(120%);
}

.nav-option:active {
  filter: brightness(150%);
}

.img-option {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

@media only screen and (min-width: 600px) {
  .navigation-top {
    height: 20%;
  }

  .nav-option {
    height: 80px;
  }
}