.product-show {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px auto;
  width: 95%;
}

.product-photos {
  width: 70%;
  min-height: 400px;
  display: flex;
}

.product-gallery {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}

.photo-gallery {
  margin-bottom: 4px;
  max-width: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.479);
}

.photo-gallery:hover {
  transform: scale(110%);
  filter: brightness(120%);
}

.photo-active {
  display: flex;
  flex-grow: 1;
  box-shadow: 10px 10px 10px rgb(172, 170, 170);
}

.photo-active:hover {
  cursor: zoom-in;
}

.product-menu {
  display: flex;
  flex-direction: column;
  /* max-width: 30vw; */
}

.flow-control-right {
  position: fixed;
  bottom: calc(50% - 50px);
  right: 0;
}

.flow-control-arrow {  
  height: calc(100vh * 0.1);
  width: calc(100vw * 0.05);
}

.flow-control-left {
  position: fixed;
  top: calc(50% - 25px);
  left: 0;
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
  .product-show {
    flex-wrap: wrap;
  }

  .product-photos {
    width: 100%;
  }

  .photo-active {
    width: 80%;
  }

  .product-menu {
    flex-grow: 1;
    width: 300px;
    margin-top: 40px;
  }
}