.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  background-color: #f7f7f7;
  padding: 12px;
}

.search-icon {
  width: 20px;
  margin-left: 4px;
}

.search-input {
  width: 70%;
  border-radius: 5px;
}